<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LightPi.Midi2OrchestratorBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LightPi.Midi2OrchestratorBridgeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <LightPi.Midi2OrchestratorBridge.Properties.Settings>
            <setting name="MaxLogLength" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ForceCommits" serializeAs="String">
                <value>True</value>
            </setting>
        </LightPi.Midi2OrchestratorBridge.Properties.Settings>
        <LightPi.Midi2OrchestratorBridgeApp.Properties.Settings>
            <setting name="MidiPort" serializeAs="String">
                <value>MIDI-2</value>
            </setting>
        </LightPi.Midi2OrchestratorBridgeApp.Properties.Settings>
    </applicationSettings>

</configuration>
